.footer {
    width: 100%;
    padding: 30px 0;
    background-color: $color-grey;

    &__container {
        max-width: 1180px;
        width: 80%;
        margin: 0 auto;
    }

    &__inner {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 340px) {
            flex-direction: column;
        }
    }

    &__company-name {
        @include small-text();
    }

    &__socials {
        display: flex;
        flex-direction: row;
        align-items: center;
        @include phone() {
            flex-direction: row-reverse !important;
        }
    }

    &__email {
        @include small-text();
        @include phone() {
            margin-left: 20px !important;
        }
    }

    &__instagram {
        display: flex;
        align-items: center;
        margin-left: 76px;
        @include phone() {
            margin-left: 0px !important;
        }
    }
}
