{% extends "layouts/default.njk" %}

{% block content %}
<main class="main pr-pages">
  <div class="container">
    <div class="pr-pages__inner">
      <h3>Все страницы верстки</h3>
      <ol>
        <!-- inject:html -->
        <!-- endinject -->
      </ol>
    </div>
  </div>
</main> <!-- end main -->
{% endblock %}