<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Шаблон верстки Ракетной фирмы</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="apple-touch-icon-precomposed" href="apple-touch-icon.png">
    <link rel="icon" href="favicon.ico"/>
    <link rel="shortcut icon" href="favicon.png" type="image/png">

    <!-- build:css(.) styles/vendor.min.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="node_modules/swiper/swiper-bundle.css">
    <link href="https://vjs.zencdn.net/7.10.2/video-js.css" rel="stylesheet" />
    <link href="https://unpkg.com/@videojs/themes@1/dist/city/index.css" rel="stylesheet">
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css(.tmp) styles/main-old.min.css -->
    <link rel="stylesheet" href="styles/old/main.css">
    <!-- endbuild -->

    <!-- build:css(.tmp) styles/main.min.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
		
    <!-- build:js(.) scripts/vendor/modernizr.min.js -->
    <script src="node_modules/npm-modernizr/modernizr.js"></script>
    <!-- endbuild -->
    
    <!-- build:js(.) scripts/vendor/respond.min.js -->
    <!--[if lt IE 9]>
    <script src="node_modules/respond/main.js"></script>
    <![endif]-->
    <!-- endbuild -->
		
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    {# import icon macro to use svg icons from sprite #}
    {% from "_partials/mixins.njk" import icon %}
    {# import some variable from ../_partials/variables.njk file and use it later if needed #}
    {% from "_partials/variables.njk" import developers %}

    {% include "_blocks/header.njk" %}

    {% block content %}{% endblock %}

    {% include "_blocks/footer.njk" %}

    {% from "_components/AuthModal.njk" import AuthModal %}
		{{ AuthModal('auth-modal') }}


    <!-- build:js(.) scripts/vendor.min.js -->
    <!-- bower:js -->
    <script src="node_modules/jquery/dist/jquery.js"></script>
    <script src="https://vjs.zencdn.net/7.10.2/video.min.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->

    <!-- page scripts start -->
    <script src="scripts/app.bundle.js"></script>
    <!-- page scripts end -->
  </body>
</html>
