<footer class="footer">
  <div class="footer__container">
    <div class="footer__inner">
      <span class="footer__company-name">© Akaby2020</span>
      <div class="footer__socials">
        <a href="mailto:support@akaby.world" class="footer__email link">
          support@akaby.world
        </a>
        <a href="https://www.instagram.com/balsulu.tasbulatova/" target="_blank" class="footer__instagram link">
          <img alt="instagram" src="images/svg/instagram.svg" width="25" height="25" />
        </a>
      </div>
    </div>
  </div>
</footer>