<a href="https://wa.me/+77762762525" target="_blank" rel="noopener noreferrer" type="button" class="help-btn circle-btn circle-btn_primary">
  <img alt="help button" src="images/svg/double-line.svg" class="help-btn__icon" width="20"  height="17"/>
  <div class="help-btn__tooltip">
    <span class="help-btn__tooltip-text">Ответим на интересующие вас вопросы</span>
  </div>
</a>