@mixin phone {
	@media (max-width: #{$sm}) {
		@content;
	}
}

@mixin small-tablet {
	@media (max-width: #{$smd}) {
		@content;
	}
}

@mixin tablet {
	@media (max-width: #{$md}) {
		@content;
	}
}

@mixin wide-tablet {
	@media (max-width: #{$slg}) {
		@content;
	}
}

@mixin small-laptop {
	@media (max-width: #{$lg}) {
		@content;
	}
}

@mixin laptop {
	@media (max-width: #{$xlg}) {
		@content;
	}
}

@mixin wide-laptop {
	@media (max-width: #{$xxlg}) {
		@content;
	}
}

@mixin wide-screen {
	@media (max-width: #{$xxxlg}) {
		@content;
	}
}

@mixin size($width: 100%, $height: $width) {
	width: $width;
	height: $height;
}

@mixin block($width: 100%, $height: $width) {
	display: block;
	@include size($width, $height);
}

@mixin inline-block($width: 100%, $height: $width) {
	display: inline-block;
	@include size($width, $height);
}

@mixin pos($top: auto, $right: auto, $bottom: auto, $left: auto) {
	top: $top;
	right: $right;
	bottom: $bottom;
	left: $left;
}

@mixin rel($top: auto, $right: auto, $bottom: auto, $left: auto) {
	position: relative;
	@include pos($top, $right, $bottom, $left);
}

@mixin rel-point($top: auto, $left: auto) {
	@include rel($top, auto, auto, $left);
}

@mixin abs($top: auto, $right: auto, $bottom: auto, $left: auto) {
	position: absolute;
	@include pos($top, $right, $bottom, $left);
}

@mixin abs-point($top: auto, $left: auto) {
	@include abs($top, auto, auto, $left);
}

@mixin fixed($top: auto, $right: auto, $bottom: auto, $left: auto) {
	position: fixed;
	@include pos($top, $right, $bottom, $left);
}

@mixin fixed-point($top: auto, $left: auto) {
	@include fixed($top, auto, auto, $left);
}

@mixin bg($url, $position: 50% 0, $repeat: no-repeat) {
	background: url($imgBase+$url) $position $repeat;
}

@mixin bg-size($url, $size: 100%, $position: 50% 0, $repeat: no-repeat) {
	background: url($imgBase+$url) $position $repeat;
	background-size: $size;
}

@mixin trans($params...) {
	backface-visibility: hidden;
	transition: $params;
}

@mixin hover-link($color, $hover: $color) {
	color: $color;
	@include trans(color, $transition-primary);
	&:hover,
	&:active,
	&:focus {
		color: $hover;
		text-decoration: none;
	}
}

@mixin placeholder-color($color, $size: 100%) {
	&::-webkit-input-placeholder {
		color: $color;
		font-size: $size;
	}

	&::-moz-placeholder {
		color: $color;
		//font-weight: 300;
	}

	&:-ms-input-placeholder {
		color: $color;
		//font-weight: 300;
	}
}

@mixin h1($color: $color-primary) {
	font-family: $font-primary-regular;
  font-style: normal;
  font-weight: normal;
  font-size: 68px;
  line-height: 107.5%;
  text-transform: uppercase;
	color: $color;

	@include tablet() {
		font-size: 60px !important;
		line-height: 107.5% !important;
	}
	
	@include phone() {
		font-size: 44px !important;
		line-height: 107.5% !important;
	}
}

@mixin h2($color: $color-primary) {
	font-family: $font-primary-regular;
  font-style: normal;
  font-weight: normal;
  font-size: 54px;
  line-height: 150.52%;
  text-transform: uppercase;
	color: $color;
	
	@include phone() {
		font-size: 34px !important;
		line-height: 150.52% !important;
	}
}

@mixin h3($color: $color-primary) {
	font-family: $font-primary-regular;
  font-style: normal;
  font-weight: normal;
  font-size: 46px;
  line-height: 150.52%;
  text-transform: uppercase;
	color: $color;
	
	@include phone() {
		font-size: 30px !important;
		line-height: 150.52% !important;
	}
}

@mixin h4($color: $color-primary) {
	font-family: $font-primary-regular;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 150.52%;
  text-transform: uppercase;
	color: $color;
	
	@include phone() {
		font-size: 30px !important;
		line-height: 150.52% !important;
	}
}

@mixin h5($color: $color-secondary) {
	font-family: $font-secondary-regular;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 142.5%;
	color: $color;
	
	@include phone() {
		font-size: 16px !important;
		line-height: 142.5% !important;
	}
}

@mixin h6($color: $color-secondary) {
	font-family: $font-secondary-regular;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 166.5%;
	color: $color;
	
	@include phone() {
		font-size: 16px !important;
		line-height: 166.5% !important;
	}
}

@mixin base-font-regular($color: $color-secondary) {
	font-family: $font-secondary-regular;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 175.5%;
  color: $color;
}

@mixin base-font-bold($color: $color-secondary) {
	font-family: $font-secondary-regular;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 172.5%;
  color: $color;
}

@mixin small-text($color: $color-secondary) {
	font-family: $font-secondary-regular;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 175.5%;
  color: $color;
}
